.atomo{
    color: #00b4d8;
}
.qtdAtomo{
    color: #023e8a;
    font-size: 1.5ch; 
}
a{
    text-decoration: none;
}

.erroVindo{
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-top: -4%;
    }
  
    to {
      margin-top: 0%;
    }
  }
.erroSaindo{
    animation-duration: 1s;
    animation-name: slideout;
}
@keyframes slideout {
    from {
      margin-top: 0%;
    }
  
    to {
      margin-top: -4%;
    }
  }